.root {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: $background-card;
  border-radius: 20px;
  gap: 16px;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 12px;
}

.titleText {
  text-transform: uppercase;
}

.details {
  display: flex;
  flex-direction: column;
  border: 1px solid $stroke-tableBorder;
  border-radius: 12px;
}

.detailsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detailsTop {
  padding: 16px 16px 12px;
  border-bottom: 1px solid $stroke-tableBorder;
}

.detailsBottom {
  padding: 12px 16px 16px;
}

.detailsItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: start;
}

.detailsTitle {
  font-family: $poppins-font;
  font-size: 12px!important;
  font-weight: 500!important;
  line-height: 150% !important;
  text-transform: initial!important;
  color: $text-white-body60!important;
}

.detailsValue {
  font-family: $unbounded-font;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  color: $text-white-body100;
}

.accentDetailsValue {
  color: $text-accent-yellow;
}