.root {
  display: flex;
  gap: 12px;
}

.social {
  width: 44px;
  height: 44px;
  padding: 10px;
  background-color: $background-light;
  border-radius: 10px;

  svg {
    fill: white;
  }

  &:hover {
    background-color: $accent;

    svg {
      fill: $text-black;
    }
  }

  &:active {
    opacity: 0.7;
  }
}