.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history, .balance {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base {
  margin-bottom: 16px;
}

.title {
  margin-bottom: 16px;
  text-align: center;
}

.tabList {
  border-radius: 100px;
}

.tabContent {
  font-size: 12px;
  font-weight: 500;
  color: $text-white-body60;
}

.tab.tab {
  span {
    background-color: $background-white;
    border-radius: 100px;
  }
}