.wrapper {
  background-color: $background-chips !important;
}

.thumb {
  background-color: $background-white;
}

.switchContent {
  font-family: $poppins-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
  color: $text-black-body60;

  &.selected {
    color: $text-black-body100;
  }
}