.text {
  font-family: $unbounded-font;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  color: $text-grey;
}

.tooltipContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.text, .tooltipContainer {
  &:hover {
    color: $text-default;
  }
}