$accent: var(--nextui-accent);
$background-light: var(--nextui-background-light);
$background-dark: var(--nextui-background-dark);
$background-default: var(--nextui-background);
$text-secondary: var(--nextui-text-secondary);
$text-grey: var(--nextui-text-grey);
$text-test: var(--nextui-text-test);
$text-default: var(--nextui-text);

$poppins-font: var(--font-poppins), sans-serif;
$unbounded-font: var(--font-unbounded), sans-serif;

$tablet-width: 768px;
$desktop-width: 1024px;
$desktop-large-width: 1200px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tabletOnly {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}