.top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.heading {
  margin: auto;
}

.chip {
  margin: auto;
}

.vaults {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.smallBanner {
  display: none;
}

.bigBanner {
  display: none;
}

.joinBannerMobile {
  width: calc(100% + (24px * 2));
  margin-left: -24px;
}

.joinBannerDesktop {
  display: none;
}

.smallBannerButton {
  justify-content: center;
}

@media screen and (width >= 700px) {
  .vaults {
    grid-template-columns: 1fr 1fr;
  }

  .joinBannerMobile {
    display: none;
  }
}

@include desktop {
  .root {
    padding-right: 100px;
    padding-left: 100px;
  }

  .vaults {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .joinBannerDesktop {
    display: block;
  }

  .smallBanner {
    display: flex;
  }

  .smallBannerTitle {
    font-family: $unbounded-font;
    font-size: 25px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
  }

  .smallBannerTitleAccent {
    color: $text-accent-yellow;
  }

  .chip {
    display: none;
  }

  .top {
    margin-bottom: 20px;
  }

  .heading {
    margin-right: auto;
    margin-left: 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 120%;
    text-align: left;
    text-transform: uppercase;
  }
}

@include desktopLarge {
  .bigBanner {
    display: flex;
  }

  .bigBanner {
    grid-column: 1/3;
  }

  .bigBannerButton {
    width: 100%;
    justify-content: center;
  }
}