.root {
  display: flex;
  flex-direction: row;
  font-family: $unbounded-font;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;

  /** Adding a transparent border by default to prevent changing the size on hover **/
  border: 1px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
  align-items: center;
  gap: 8px;

  &:active, &:active > * {
    opacity: 0.8;
  }
}

.primary {
  color: #0B0C1B;
  background: linear-gradient(90deg, #F0D025 0%, #FFF627 50.42%, #F0D025 100%);

  svg {
    fill: #0B0C1B;
  }

  &:hover {
    box-shadow: 0 0 30px 0 rgb(251 255 58 / 60%);
  }

  &:disabled {
    background: linear-gradient(0deg, #9B8E00 0%, #9B8E00 100%)
  }
}

.secondary {
  color: #FFFFFF;
  background: #1A1B25;

  svg {
    fill: #FFFFFF;
  }

  &:hover {
    border: 1px solid #FBFF3A;
  }

  &:disabled {
    color: #666666;
    background: #252525;

    svg {
      fill: #666666;
    }
  }
}

.large {
  padding: 25px 42px;
  font-size: 16px;
  border-radius: 16px;
}

.medium {
  padding: 18px 22px;
  font-size: 14px;
  border-radius: 12px;
}

.small {
  padding: 12px 14px;
  font-size: 12px;
  font-weight: 800;
  border-radius: 8px;
  gap: 6px;
}

.iconContainer {
  display: flex;
}