.root {
  display: inline;
  padding: 2px 4px;
  font-family: $unbounded-font;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $menu-defaultLabel;

  &:hover:not(.selected) {
    color: $menu-hoverLabel;
  }
}

.selected {
  color: $menu-selectedLabel;
  background-color: $menu-selectedBg;
}

.disabled {

}